<div class="edit-container">
    <button id="prev-btn"><i class="bi bi-arrow-left-circle-fill color-edit"></i></button>


    <!-- The Book -->
    <div id="book" class="book">
        <!-- Paper 1 -->
        <div id="p1" class="paper">
            <div class="front">
                <div id="f1" class="front-content">
                    <h1 class="book-title">Little Dog</h1>
                    <img class="cover-img" src="./img1.webp" alt="dog">
                </div>
            </div>
            <div class="back">
                <div id="b1" class="back-content">
                    <h2>Some Intro</h2>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Paper 2 -->
        <div id="p2" class="paper">
            <div class="front">
                <div id="f2" class="front-content">
                    <h1>Some Cool Page</h1>
                </div>
            </div>
            <div class="back">
                <div id="b2" class="back-content">
                    <h1>An Awesome Page</h1>
                </div>
            </div>
        </div>
        <!-- Paper 3 -->
        <div id="p3" class="paper">
            <div class="front">
                <div id="f3" class="front-content">
                    <h1>An Amazing Page</h1>
                </div>
            </div>
            <div class="back">
                <div id="b3" class="back-content">
                    <h1>The Good Bye</h1>
                </div>
            </div>
        </div>
    </div>

    <button id="next-btn"><i class="bi bi-arrow-right-circle-fill color-edit"></i></button>
</div>
