<br><br><br><br>
<div class="container-fluid">
  <div class="row g-4 justify-content-center">
    <div *ngFor="let items of cards; trackBy: trackfn" class="col-xl-3 col-lg-4 col-md-5 col-sm-7 col-7">
      <div class="content content-1 text-center" style="width: 18rem;">
        <div class="card-body text-center mb-3">
          <img src="img1.webp" alt="">
          <h5 class="card-title mt-3 mb-3">{{items.title}}</h5>
          <p class="edit-card-text card-text mb-4">{{items.desc}}</p>
          <div class="edit-btn">
            <div class="btn btn-outline-primary" routerLink="/explore/xyz">Join</div>
            <div class="btn btn-outline-primary">Visit</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>