.container-fluid
{
    padding-top: 50px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap:5px;
    background-color:rgb(13, 8, 45);
    padding-bottom: 1000px;
}

.card img{
    height: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
}