.edit-btn {
    display: flex;
    justify-content: space-between;
}

.card-body img {
    width: 10rem;
    aspect-ratio: 1/1;
    border: 2px solid #000;
    border-radius: 50%;
}

.edit-card {
    border-radius: 20px;
}

.edit-card-text {
    text-justify: newspaper;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 20px;
    border: 2px solid black;
    border-radius: 7px;
    transition: all .3s ease;
}

.edit-card-case {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content:hover {
    color: black;
    transform: scale(1.05);
}

.content:hover a {
    border-color: black;
    background: black;
}

.content-1:hover {
    border-color: #000;
    background: #fcefbd;
}

.content img{
    transition: all 0.4s ease-in-out;
}

.content:hover img{
    transform: scale(1.03);
}

.content-1:hover a {
    color: #1DA1F2;
}

.content:hover .btn{
    color: #000;
    border-color: #000;
}

.content:hover .btn:hover{
    background: #fff;
    color: #000;
}

.edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-card-case {
    width: 100%;
    max-width: 1200px;
    /* Adjust based on your design */
    margin: auto;
}