<div class="container-sm-fluid edit-container" style="padding: 0;">
    <section class="sc-grid sc-grid-one">
        <div class="container">
            <div class="grid-content d-grid align-items-center">
                <div class="grid-img">
                    <img src="vv.png" alt="">
                </div>
                <div class="grid-text">
                    <div class="content-wrapper text-start">
                        <div class="title-box">
                            <h3 class="title-box-name">Showcase Creativity with Stunning Visuals</h3>
                            <br>
                        </div>

                        <p class="text title-box-text">Start your Art Corner journey with a captivating hero section
                            featuring high-quality images or a dynamic carousel. Highlight breathtaking artworks,
                            upcoming art events, or artist spotlights to immediately engage visitors. The visuals should
                            evoke emotion and curiosity, inviting users to explore further. Paired with compelling
                            headlines and calls-to-action, this section sets the tone for the artistic experience ahead.
                        </p>
                        <div class="btn btn-outline-dark">Learn more</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>