<section id="about" class="about">
  <div class="about-container">
  <img src="vv.png" alt="">

  <div class="info-box">

  <div class="text">
  <h3>Welcome To</h3>
  <h1>Virtual Volumes</h1>
  <span>A Responsive E-Book Web Application </span>
  </div>

  <div class="btn-group">
  <div class="btn">Download CV</div>
  <div class="btn">Contact</div>
  </div>

  <div class="socials">
  <i class="fa-brands fa-github"></i>
  <i class="fa-brands fa-linkedin"></i>
  </div>

  </div>
  </div>
  </section>

<section id="experience" class="experience">

<h2 class="section-title">Experience</h2>

<div class="experience-info">

<div class="grid">
<div class="grid-card">
<i class="fa-solid fa-code"></i>
<span>Frontend Development</span>
<h3>5 Years</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, voluptatem.</p>
</div>

<div class="grid-card">
<i class="fa-solid fa-file-code"></i>
<span>Graphic Design</span>
<h3>2 Years</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, voluptatem.</p>
</div>
<div class="grid-card">
<i class="fa-solid fa-laptop"></i>
<span>System Design</span>
<h3>2 Years</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, voluptatem.</p>
</div>
<div class="grid-card">
<i class="fa-solid fa-list"></i>
<span>Content Manager</span>
<h3>1 Years</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, voluptatem.</p>
</div>
</div>

<img scr="image.jpg" alt="">
</div>
</section>

<section id="projects" class="projects">

<h2 class="section-title">Recent Projects</h2>

<div class="projects-grid">

<div class="project-card">
<img src="project-1.png" alt="">
<h3>Project X</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, officia.</p>
<div class="btn-group">
<div class="btn">Live Demo</div>
<div class="btn">Github Repo</div>
</div>
</div>

<div class="project-card">
<img src="project-2.png" alt="">
<h3>Project Y</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, officia.</p>
<div class="btn-group">
<div class="btn">Live Demo</div>
<div class="btn">Github Repo</div>
</div>
</div>

<div class="project-card">
<img src="project-3.png" alt="">
<h3>Project Z</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, officia.</p>
<div class="btn-group">
<div class="btn">Live Demo</div>
<div class="btn">Github Repo</div>
</div>
</div>
</div>
</section>

<section class="contect" id="contact">
  <div class="input-box">

      <h2 class="section-title">Contact Me</h2>

<div class="input">
<input type="text" placeholder="example@email.com">
<i class="fa-solid fa-envelope"></i>
</div>

<div class="btn">Submit</div>
</div>
</section>

<footer>

<ul>
<li>
<a href="#about">About</a>
</li>

<li>
<a href="#experience">Experience</a>
</li>

<li>
<a href="#projects">Projects</a>
</li>

<li>
<a href="#contact">Contact</a>
</li>
</ul>

<p class="copyright">© All Rights Reserved | Jace Smith</p>
</footer>