.navbar-brand
{
    background-color: #fcefbd;
    font-weight: bold;
    color: orange;
    border-radius: 10px;
    padding: 7px;
    font-family: cursive;
}

.navbar{
    background-color: #fcefbd;
}

.nav-link{
    border: 1px solid transparent;
    transition: all .3s ease-in-out;
    border-radius: 50px;
}

.nav-link:hover{
    background-color: #fcefbd;
    border: 1px solid #000;
    border-radius: 50px;
}

.d-flex
{
    border-radius: 5px;
    background-color: white;
    border-radius: 50px;
    padding: 5px 8px;
    font-size: 16px;
}

.edit-form {
    outline: 0;
    border: none;
}

.edit-form:active {
    outline: 0;
    border: none;
}

.bi
{
    color: black;
    top: 1px;
    right: 3px;
    padding: 5px;
    position: relative;
    margin: 0.5px;
    border-radius: 50%;
}